body{
    background: turquoise;
}
section{
    width: 550px;
    margin: auto;
    background: white;
    padding: 15px;
    box-shadow: 1px 3px 6px black;
}

header{
    text-align: center;
}
footer{
    text-align: center;
}

select#seltab{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 150px;
    
}